.search {
	position: relative;
}

.search input {
	width: 100%;
	padding: 12.5px 12px;

	border: none;
	border-radius: 10px;
	outline: none;
	background-color: #F4F4F4;
}

.search_placeholder {
	position: absolute;
	top: 13px;
	left: 13px;

	display: flex;
	align-items: center;

	color: #C1C1C1;

	font-size: 16px;
	line-height: 20px;
}

.search_placeholder svg {
	margin-right: 9px;
}
.d_none {
	display: none;
}